{
    "tabWidth": 4,
    "endOfLine": "lf",
    "printWidth": 120,
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "*.json",
                "*.md",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}